## Finding a tobacco dataset to use that incoporates vaping and teens

In [119]:
import pandas as pd
import numpy as np

### Option 1

In [124]:
df = pd.read_csv('/Users/mists/Downloads/data-table-high-school-e-cig-use-prevalence-2015-2016.csv')

In [125]:
df

,Geography,Year,Strata,Strata Name,Rate (%),Lower 95% Confidence Interval,Upper 95% Confidence Interval,Number of Respondents,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,California,2015-2016,Overall,Overall,8.6,8.2,9.0,41606,NaN,NaN,NaN
1,California,2015-2016,Sex,Female,6.8,6.3,7.3,20764,,,
2,California,2015-2016,Sex,Male,10.5,9.8,11.1,20733,NaN,NaN,NaN
3,California,2015-2016,Race/Ethnicity,Non-Hispanic White,12.3,11.4,13.2,10182,NaN,NaN,NaN
4,California,2015-2016,Race/Ethnicity,Non-Hispanic Black,5.3,3.7,6.9,1668,NaN,NaN,NaN
5,California,2015-2016,Race/Ethnicity,Non-Hispanic Asian,4.7,3.9,5.4,5793,NaN,NaN,NaN
6,California,2015-2016,Race/Ethnicity,Hispanic,8.3,7.8,8.9,22273,NaN,NaN,NaN
7,California,2015-2016,Race/Ethnicity,Non-Hispanic Other Race,10.9,8.2,13.7,1453,NaN,NaN,NaN

This too aggregated. A no-go.

### Option 2

In [126]:
df = pd.read_csv('/Users/mists/Downloads/Youth_Tobacco_Survey__YTS__Data.csv')

In [127]:
df.head().T

,0,1,2,3,4
YEAR,2004,2008,2015,2005,2005
LocationAbbr,OH,AL,WV,IL,CT
LocationDesc,Ohio,Alabama,West Virginia,Illinois,Connecticut
TopicType,Tobacco Use – Survey Data,Tobacco Use – Survey Data,Tobacco Use – Survey Data,Tobacco Use – Survey Data,Tobacco Use – Survey Data
TopicDesc,Cigarette Use (Youth),Cigarette Use (Youth),Smokeless Tobacco Use (Youth),Cigarette Use (Youth),Smokeless Tobacco Use (Youth)
MeasureDesc,Smoking Status,Smoking Status,User Status,Smoking Status,User Status
DataSource,YTS,YTS,YTS,YTS,YTS
Response,Ever,Ever,Frequent,Ever,Ever
Data_Value_Unit,%,%,%,%,%
Data_Value_Type,Percentage,Percentage,Percentage,Percentage,Percentage
Data_Value,32.2,47.8,12.7,28.5,20.5
Data_Value_Footnote_Symbol,NaN,NaN,NaN,NaN,NaN
Data_Value_Footnote,NaN,NaN,NaN,NaN,NaN
Data_Value_Std_Err,3.2,2.9,1.9,2.2,2.3
Low_Confidence_Limit,25.8,42.1,9,24.2,16
High_Confidence_Limit,38.5,53.5,16.4,32.8,25.1
Sample_Size,1377,654,781,1323,973
Gender,Overall,Female,Male,Overall,Male
Race,All Races,All Races,All Races,All Races,All Races
Age,All Ages,All Ages,All Ages,All Ages,All Ages
Education,Middle School,High School,High School,Middle School,High School
GeoLocation,"(40.060210141, -82.404260056)","(32.840571122, -86.631860762)","(38.665510202, -80.712640135)","(40.485010283, -88.997710178)","(41.56266102, -72.649840952)"
TopicTypeId,BEH,BEH,BEH,BEH,BEH
TopicId,106BEH,106BEH,151BEH,106BEH,151BEH
MeasureId,166SSA,166SSA,169USS,166SSA,169USS
StratificationID1,1GEN,3GEN,2GEN,1GEN,2GEN
StratificationID2,8AGE,8AGE,8AGE,8AGE,8AGE
StratificationID3,6RAC,6RAC,6RAC,6RAC,6RAC
StratificationID4,1EDU,2EDU,2EDU,1EDU,2EDU
SubMeasureID,YTS08,YTS08,YTS12,YTS08,YTS11
DisplayOrder,8,8,12,8,11

In [128]:
df = df.drop(columns = ['LocationDesc','GeoLocation','TopicTypeId', 'TopicId', 'MeasureId','Data_Value_Type',
                        'StratificationID1','StratificationID2','StratificationID3','StratificationID4',
                        'SubMeasureID','DisplayOrder'])

In [129]:
df.columns = df.columns.str.lower()

In [130]:
df.head()

,year,locationabbr,topictype,topicdesc,measuredesc,datasource,response,data_value_unit,data_value,data_value_footnote_symbol,data_value_footnote,data_value_std_err,low_confidence_limit,high_confidence_limit,sample_size,gender,race,age,education
0,2004,OH,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Ever,%,32.2,NaN,NaN,3.2,25.8,38.5,1377.0,Overall,All Races,All Ages,Middle School
1,2008,AL,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Ever,%,47.8,NaN,NaN,2.9,42.1,53.5,654.0,Female,All Races,All Ages,High School
2,2015,WV,Tobacco Use – Survey Data,Smokeless Tobacco Use (Youth),User Status,YTS,Frequent,%,12.7,NaN,NaN,1.9,9.0,16.4,781.0,Male,All Races,All Ages,High School
3,2005,IL,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Ever,%,28.5,NaN,NaN,2.2,24.2,32.8,1323.0,Overall,All Races,All Ages,Middle School
4,2005,CT,Tobacco Use – Survey Data,Smokeless Tobacco Use (Youth),User Status,YTS,Ever,%,20.5,NaN,NaN,2.3,16.0,25.1,973.0,Male,All Races,All Ages,High School

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10600 entries, 0 to 10599
Data columns (total 19 columns):
year                          10600 non-null int64
locationabbr                  10600 non-null object
topictype                     10600 non-null object
topicdesc                     10600 non-null object
measuredesc                   10600 non-null object
datasource                    10600 non-null object
response                      8190 non-null object
data_value_unit               10600 non-null object
data_value                    10080 non-null float64
data_value_footnote_symbol    517 non-null object
data_value_footnote           517 non-null object
data_value_std_err            10080 non-null float64
low_confidence_limit          10083 non-null float64
high_confidence_limit         10080 non-null float64
sample_size                   10080 non-null float64
gender                        10600 non-null object
race                          10600 non-null object
age                           10600 non-null object
education                     10600 non-null object
dtypes: float64(5), int64(1), object(13)
memory usage: 1.5+ MB

In [133]:
for col in df.columns:
    print(df[col].value_counts().sort_index())
    print()

1999     372
2000    1224
2001     426
2002    1016
2003     498
2004     611
2005     636
2006     518
2007     516
2008     483
2009     686
2010     447
2011     521
2012     244
2013     685
2014     334
2015     577
2016     262
2017     544
Name: year, dtype: int64

AL    426
AR    210
AZ    264
CA     96
CO     48
CT    405
DC     48
DE    354
FL     96
GA    303
GU     48
HI    312
IA    276
ID     48
IL    282
IN    288
KS    186
KY    255
LA    288
MA     48
MD     96
ME     48
MI    138
MN    177
MO    318
MS    651
NC    402
ND    378
NE    258
NH    180
NJ    411
NM     24
NY     90
OH    303
OK    342
PA    330
PR      6
RI    144
SC    348
SD    234
TN    168
TX     48
US     34
UT    144
VA     45
VI     96
VT     96
WI    408
WV    378
WY     24
Name: locationabbr, dtype: int64

Tobacco Use – Survey Data    10600
Name: topictype, dtype: int64

Cessation (Youth)                2410
Cigarette Use (Youth)            4107
Smokeless Tobacco Use (Youth)    4083
Name: topicdesc, dtype: int64

Percent of Current Smokers Who Want to Quit                  1284
Quit Attempt in Past Year Among Current Cigarette Smokers    1126
Smoking Status                                               4107
User Status                                                  4083
Name: measuredesc, dtype: int64

NYTS       34
YTS     10566
Name: datasource, dtype: int64

Current     2730
Ever        2730
Frequent    2730
Name: response, dtype: int64

%    10600
Name: data_value_unit, dtype: int64

0.0      71
0.1     107
0.2     153
0.3     143
0.4     137
       ...
96.0      1
96.1      1
96.2      1
97.9      2
98.0      1
Name: data_value, Length: 750, dtype: int64

*    517
Name: data_value_footnote_symbol, dtype: int64

Data in these cells have been suppressed because of a small sample size    517
Name: data_value_footnote, dtype: int64

0.0      67
0.1     292
0.2     477
0.3     486
0.4     474
       ...
12.0      1
13.1      1
13.4      1
13.9      1
16.1      1
Name: data_value_std_err, Length: 111, dtype: int64

0.0     696
0.1     205
0.2     163
0.3     153
0.4     136
       ...
94.9      1
95.3      1
95.5      1
97.5      2
97.6      1
Name: low_confidence_limit, Length: 688, dtype: int64

0.0     57
0.1     14
0.2     26
0.3     68
0.4     91
        ..
97.0     1
97.1     1
97.2     1
98.3     2
98.4     1
Name: high_confidence_limit, Length: 844, dtype: int64

50.0       16
51.0       15
52.0       16
53.0       15
54.0       14
           ..
32937.0     2
36178.0     1
36218.0     1
36794.0     2
36910.0     2
Name: sample_size, Length: 2625, dtype: int64

Female     3522
Male       3522
Overall    3556
Name: gender, dtype: int64

All Races    10600
Name: race, dtype: int64

All Ages    10600
Name: age, dtype: int64

High School      4967
Middle School    5633
Name: education, dtype: int64

In [134]:
df [(df.year == 2017) & (df.locationabbr == 'AZ')].sort_values(['education','gender'])

,year,locationabbr,topictype,topicdesc,measuredesc,datasource,response,data_value_unit,data_value,data_value_footnote_symbol,data_value_footnote,data_value_std_err,low_confidence_limit,high_confidence_limit,sample_size,gender,race,age,education
9029,2017,AZ,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Current,%,1.9,NaN,NaN,0.6,0.8,3.0,659.0,Female,All Races,All Ages,Middle School
9173,2017,AZ,Tobacco Use – Survey Data,Cessation (Youth),Percent of Current Smokers Who Want to Quit,YTS,NaN,%,NaN,*,Data in these cells have been suppressed becau...,NaN,NaN,NaN,NaN,Female,All Races,All Ages,Middle School
9192,2017,AZ,Tobacco Use – Survey Data,Smokeless Tobacco Use (Youth),User Status,YTS,Current,%,1.3,NaN,NaN,0.6,0.1,2.5,662.0,Female,All Races,All Ages,Middle School
9212,2017,AZ,Tobacco Use – Survey Data,Smokeless Tobacco Use (Youth),User Status,YTS,Frequent,%,0.2,NaN,NaN,0.1,0.0,0.4,662.0,Female,All Races,All Ages,Middle School
9221,2017,AZ,Tobacco Use – Survey Data,Cessation (Youth),Quit Attempt in Past Year Among Current Cigare...,YTS,NaN,%,NaN,*,Data in these cells have been suppressed becau...,NaN,NaN,NaN,NaN,Female,All Races,All Ages,Middle School
9259,2017,AZ,Tobacco Use – Survey Data,Smokeless Tobacco Use (Youth),User Status,YTS,Ever,%,4.4,NaN,NaN,1.4,1.6,7.2,663.0,Female,All Races,All Ages,Middle School
9273,2017,AZ,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Ever,%,10.7,NaN,NaN,2.0,6.7,14.7,620.0,Female,All Races,All Ages,Middle School
9301,2017,AZ,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Frequent,%,0.2,NaN,NaN,0.2,0.0,0.6,659.0,Female,All Races,All Ages,Middle School
9064,2017,AZ,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Current,%,2.9,NaN,NaN,0.7,1.5,4.3,679.0,Male,All Races,All Ages,Middle School
9103,2017,AZ,Tobacco Use – Survey Data,Cessation (Youth),Quit Attempt in Past Year Among Current Cigare...,YTS,NaN,%,NaN,*,Data in these cells have been suppressed becau...,NaN,NaN,NaN,NaN,Male,All Races,All Ages,Middle School
9109,2017,AZ,Tobacco Use – Survey Data,Smokeless Tobacco Use (Youth),User Status,YTS,Current,%,1.8,NaN,NaN,0.8,0.2,3.4,666.0,Male,All Races,All Ages,Middle School
9152,2017,AZ,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Frequent,%,0.4,NaN,NaN,0.4,0.0,1.1,679.0,Male,All Races,All Ages,Middle School
9219,2017,AZ,Tobacco Use – Survey Data,Smokeless Tobacco Use (Youth),User Status,YTS,Frequent,%,0.6,NaN,NaN,0.5,0.0,1.5,666.0,Male,All Races,All Ages,Middle School
9249,2017,AZ,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Ever,%,14.9,NaN,NaN,2.3,10.3,19.5,620.0,Male,All Races,All Ages,Middle School
9324,2017,AZ,Tobacco Use – Survey Data,Cessation (Youth),Percent of Current Smokers Who Want to Quit,YTS,NaN,%,NaN,*,Data in these cells have been suppressed becau...,NaN,NaN,NaN,NaN,Male,All Races,All Ages,Middle School
9361,2017,AZ,Tobacco Use – Survey Data,Smokeless Tobacco Use (Youth),User Status,YTS,Ever,%,5.8,NaN,NaN,1.2,3.5,8.1,670.0,Male,All Races,All Ages,Middle School
9051,2017,AZ,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Frequent,%,0.3,NaN,NaN,0.2,0.0,0.7,1346.0,Overall,All Races,All Ages,Middle School
9072,2017,AZ,Tobacco Use – Survey Data,Smokeless Tobacco Use (Youth),User Status,YTS,Ever,%,5.1,NaN,NaN,0.8,3.6,6.6,1340.0,Overall,All Races,All Ages,Middle School
9074,2017,AZ,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Current,%,2.4,NaN,NaN,0.5,1.4,3.4,1346.0,Overall,All Races,All Ages,Middle School
9122,2017,AZ,Tobacco Use – Survey Data,Cessation (Youth),Percent of Current Smokers Who Want to Quit,YTS,NaN,%,NaN,*,Data in these cells have been suppressed becau...,NaN,NaN,NaN,NaN,Overall,All Races,All Ages,Middle School
9131,2017,AZ,Tobacco Use – Survey Data,Cigarette Use (Youth),Smoking Status,YTS,Ever,%,12.7,NaN,NaN,2.0,8.7,16.7,1248.0,Overall,All Races,All Ages,Middle School
9134,2017,AZ,Tobacco Use – Survey Data,Smokeless Tobacco Use (Youth),User Status,YTS,Current,%,1.5,NaN,NaN,0.6,0.4,2.6,1335.0,Overall,All Races,All Ages,Middle School
9138,2017,AZ,Tobacco Use – Survey Data,Smokeless Tobacco Use (Youth),User Status,YTS,Frequent,%,0.4,NaN,NaN,0.3,0.0,0.9,1335.0,Overall,All Races,All Ages,Middle School
9278,2017,AZ,Tobacco Use – Survey Data,Cessation (Youth),Quit Attempt in Past Year Among Current Cigare...,YTS,NaN,%,NaN,*,Data in these cells have been suppressed becau...,NaN,NaN,NaN,NaN,Overall,All Races,All Ages,Middle School

### Option 3

In [135]:
df = pd.read_csv('/Users/mists/Downloads/Youth_Risk_Behavioral_Surveillance_System__YRBSS__Data.csv')

In [136]:
df.columns = df.columns.str.lower()

In [137]:
df.head().T

,0,1,2,3,4
year,1999,2005,1997,2007,2015
locationabbr,MA,OH,IA,LA,ID
locationdesc,Massachusetts,Ohio,Iowa,Louisiana,Idaho
topictype,Tobacco Use - Survey Data,Tobacco Use - Survey Data,Tobacco Use - Survey Data,Tobacco Use - Survey Data,Tobacco Use - Survey Data
topicdesc,Cigarette Use (Youth),Cigarette Use (Youth),Smokeless Tobacco Use (Youth),Cigar Use (Youth),Cigar Use (Youth)
measuredesc,Smoking Status,Smoking Status,User Status,Smoking Status,Smoking Status
submeasure,Frequent Cigarette Smoker,Current Cigarette Smoker,Current Smokeless Tobacco User,Frequent Cigar Smoker,Current Cigar Smoker
datasource,YRBSS,YRBSS,YRBSS,YRBSS,YRBSS
response,Frequent,Current,Current,Frequent,Current
data_value_unit,%,%,%,%,%
data_value_type,Percentage,Percentage,Percentage,Percentage,Percentage
data_value,20.9,11.8,22.4,NaN,NaN
data_value_footnote_symbol,NaN,NaN,NaN,*,*
data_value_footnote,NaN,NaN,NaN,Data in these cells have been suppressed becau...,Data in these cells have been suppressed becau...
data_value_std_err,4.4,2.9,2.2,NaN,NaN
low_confidence_limit,13.3,7.1,18.2,NaN,NaN
high_confidence_limit,31.3,19.1,27.4,NaN,NaN
sample_size,116,230,756,NaN,NaN
gender,Overall,Overall,Male,Overall,Overall
age,All Ages,All Ages,All Ages,All Ages,All Ages
race,Multiple Race,African American,All Races,American Indian/Alaska Native,African American
education,High School,High School,High School,High School,High School
geolocation,"(42.27687047, -72.082690675)","(40.060210141, -82.404260056)","(42.469400913, -93.816490556)","(31.312660644, -92.445680071)","(43.682630005, -114.363730042)"
topictypeid,BEH,BEH,BEH,BEH,BEH
topicid,106BEH,106BEH,151BEH,153BEH,153BEH
measureid,169SSA,169SSA,168SSP,181CIG,181CIG
stratificationid1,1GEN,1GEN,2GEN,1GEN,1GEN
stratificationid2,8AGE,8AGE,8AGE,8AGE,8AGE
stratificationid3,7RAC,1RAC,6RAC,2RAC,1RAC
stratificationid4,2EDU,2EDU,2EDU,2EDU,2EDU
submeasureid,YRB02,YRB01,YRB04,YRB10,YRB09
displayorder,2,1,1,2,1

In [138]:
for col in df.columns:
    print(df[col].value_counts().sort_index())
    print()

1993     598
1995    1186
1997    1354
1999    1568
2001    2058
2003    2618
2005    2900
2007    3500
2009    3702
2011    3976
2013    4164
2015    5434
2017    5650
Name: year, dtype: int64

AK     620
AL     966
AR     810
AZ     568
CA     190
CO     366
CT     232
DC     492
DE    1280
FL     598
GA     870
GU     958
HI     918
IA     370
ID     740
IL     580
IN     460
KS     460
KY    1120
LA     440
MA     890
MD     814
ME    1346
MI     822
MO     810
MS    1010
MT     910
NC     602
ND    1440
NE     550
NH     632
NJ     206
NM    1000
NV    1010
NY     726
OH     460
OK     640
PA     290
PR     530
RI    1260
SC    1050
SD     720
TN     740
TX     520
US     910
UT     800
VA     582
VT    1130
WI     708
WV    1410
WY    1152
Name: locationabbr, dtype: int64

Alabama                      966
Alaska                       620
Arizona                      568
Arkansas                     810
California                   190
Colorado                     366
Connecticut                  232
Delaware                    1280
District of Columbia         492
Florida                      598
Georgia                      870
Guam                         958
Hawaii                       918
Idaho                        740
Illinois                     580
Indiana                      460
Iowa                         370
Kansas                       460
Kentucky                    1120
Louisiana                    440
Maine                       1346
Maryland                     814
Massachusetts                890
Michigan                     822
Mississippi                 1010
Missouri                     810
Montana                      910
National (States and DC)     910
Nebraska                     550
Nevada                      1010
New Hampshire                632
New Jersey                   206
New Mexico                  1000
New York                     726
North Carolina               602
North Dakota                1440
Ohio                         460
Oklahoma                     640
Pennsylvania                 290
Puerto Rico                  530
Rhode Island                1260
South Carolina              1050
South Dakota                 720
Tennessee                    740
Texas                        520
Utah                         800
Vermont                     1130
Virginia                     582
West Virginia               1410
Wisconsin                    708
Wyoming                     1152
Name: locationdesc, dtype: int64

Tobacco Use - Survey Data    38708
Name: topictype, dtype: int64

Any Tobacco Use (Youth)            900
Cigar Use (Youth)                 8508
Cigarette Use (Youth)            16270
E-Cigarette Use (Youth)           3150
Smokeless Tobacco Use (Youth)     9880
Name: topicdesc, dtype: int64

Smoking Status    24778
User Status       13930
Name: measuredesc, dtype: int64

Current Cigar Smoker               4254
Current Cigarette Smoker           5678
Current E-Cigarette User           1074
Current Smokeless Tobacco User     4940
Current Tobacco User                900
Ever Cigarette Smoker              4914
Ever E-Cigarette User              1002
Frequent Cigar Smoker              4254
Frequent Cigarette Smoker          5678
Frequent E-Cigarette User          1074
Frequent Smokeless Tobacco User    4940
Name: submeasure, dtype: int64

YRBSS    38708
Name: datasource, dtype: int64

Current     16846
Ever         5916
Frequent    15946
Name: response, dtype: int64

%    38708
Name: data_value_unit, dtype: int64

Percentage    38708
Name: data_value_type, dtype: int64

0.0     297
0.1     148
0.2     246
0.3     310
0.4     332
       ...
88.5      1
89.5      1
90.7      1
92.0      1
95.2      1
Name: data_value, Length: 814, dtype: int64

*    14433
Name: data_value_footnote_symbol, dtype: int64

Data in these cells have been suppressed because of a small sample size    14433
Name: data_value_footnote, dtype: int64

0.0      316
0.1      759
0.2     1205
0.3     1289
0.4     1194
        ...
12.2       1
12.5       1
12.6       3
12.8       1
13.3       1
Name: data_value_std_err, Length: 119, dtype: int64

0.0     641
0.1     819
0.2     640
0.3     585
0.4     513
       ...
82.7      1
82.8      1
85.0      1
85.9      1
90.5      1
Name: low_confidence_limit, Length: 763, dtype: int64

0.0     281
0.1       4
0.2       8
0.3      30
0.4      54
       ...
93.8      1
94.0      2
95.7      1
95.9      1
97.6      1
Name: high_confidence_limit, Length: 863, dtype: int64

100.0      67
101.0      62
102.0      72
103.0      69
104.0      77
           ..
52911.0     2
52952.0     2
53211.0     2
53264.0     2
54795.0     2
Name: sample_size, Length: 3994, dtype: int64

Female      4014
Male        4014
Overall    30680
Name: gender, dtype: int64

All Ages    38708
Name: age, dtype: int64

African American                  3835
All Races                        11863
American Indian/Alaska Native     3835
Asian                             3835
Hispanic                          3835
Multiple Race                     3835
Pacific Islander                  3835
White                             3835
Name: race, dtype: int64

High School      30578
Middle School     8130
Name: education, dtype: int64

(13.444304, 144.793731)               958
(18.220833, -66.590149)               530
(21.304850435, -157.857749403)        918
(28.932040377, -81.928960539)         598
(31.312660644, -92.445680071)         440
(31.827240407, -99.426770206)         520
(32.745510099, -89.538030825)        1010
(32.839681093, -83.627580346)         870
(32.840571122, -86.631860762)         966
(33.998821303, -81.045371207)        1050
(34.520880952, -106.240580985)       1000
(34.748650124, -92.274490743)         810
(34.86597028, -111.763811277)         568
(35.466220975, -79.159250463)         602
(35.472031356, -97.521070214)         640
(35.68094058, -85.774490914)          740
(37.09024, -95.712891)                910
(37.542680674, -78.457890463)         582
(37.638640123, -120.999999538)        190
(37.645970271, -84.774971048)        1120
(38.3477403, -98.200781227)           460
(38.635790776, -92.566300053)         810
(38.665510202, -80.712640135)        1410
(38.843840757, -106.133610921)        366
(38.890371385, -77.031961127)         492
(39.008830667, -75.577741168)        1280
(39.290580964, -76.609260111)         814
(39.360700171, -111.587130635)        800
(39.49324039, -117.071840564)        1010
(39.766910452, -86.149960194)         460
(40.060210141, -82.404260056)         460
(40.130570048, -74.273691288)         206
(40.485010283, -88.997710178)         580
(40.793730152, -77.860700294)         290
(41.56266102, -72.649840952)          232
(41.641040988001, -99.365720623)      550
(41.708280193, -71.522470314)        1260
(42.27687047, -72.082690675)          890
(42.469400913, -93.816490556)         370
(42.827001032, -75.543970427)         726
(43.235541343, -108.109830353)       1152
(43.625381239, -72.517640791)        1130
(43.655950113, -71.50036092)          632
(43.682630005, -114.363730042)        740
(44.353130053, -100.373530637)        720
(44.393191174, -89.816370742)         708
(44.661319543001, -84.71439027)       822
(45.254228894001, -68.985031336)     1346
(47.066528972, -109.424420645)        910
(47.475319779, -100.118421049)       1440
(64.845079957001, -147.722059036)     620
Name: geolocation, dtype: int64

BEH    38708
Name: topictypeid, dtype: int64

106BEH    16270
151BEH     9880
152BEH     3150
153BEH     8508
154BEH      900
Name: topicid, dtype: int64

168SSP     9880
169SSA    16270
180EVP     3150
181CIG     8508
182TUS      900
Name: measureid, dtype: int64

1GEN    30680
2GEN     4014
3GEN     4014
Name: stratificationid1, dtype: int64

8AGE    38708
Name: stratificationid2, dtype: int64

1RAC     3835
2RAC     3835
4RAC     3835
5RAC     3835
6RAC    11863
7RAC     3835
8RAC     3835
9RAC     3835
Name: stratificationid3, dtype: int64

1EDU     8130
2EDU    30578
Name: stratificationid4, dtype: int64

YRB01    5678
YRB02    5678
YRB03    4914
YRB04    4940
YRB05    4940
YRB06    1074
YRB07    1074
YRB08    1002
YRB09    4254
YRB10    4254
YRB12     900
Name: submeasureid, dtype: int64

1    16846
2    15946
3     5916
Name: displayorder, dtype: int64

This one is larger than the previous dataset and also contains the race breakdown

In [139]:
df.topicdesc.value_counts()

Cigarette Use (Youth)            16270
Smokeless Tobacco Use (Youth)     9880
Cigar Use (Youth)                 8508
E-Cigarette Use (Youth)           3150
Any Tobacco Use (Youth)            900
Name: topicdesc, dtype: int64

In [140]:
subset = df [df.topicdesc == 'E-Cigarette Use (Youth)']

In [141]:
for col in subset.columns:
    print(subset[col].value_counts().sort_index())
    print()

2015    1510
2017    1640
Name: year, dtype: int64

AK     60
AL     30
AR     60
AZ     60
CA     60
CO     20
CT      6
DC    120
DE    120
FL     66
GU    120
HI    110
IA     30
ID     60
IL     60
IN     30
KS     30
KY    120
LA     30
MA     60
MD    120
ME     60
MI     52
MO     60
MS     30
MT     60
NC     90
ND    100
NE     60
NH     52
NM    120
NV     90
NY     42
OK     60
PA     60
PR     60
RI    120
SC     60
SD     30
TN     60
TX     30
US     60
UT     30
VA    102
VT    120
WI     20
WV    120
WY     30
Name: locationabbr, dtype: int64

Alabama                      30
Alaska                       60
Arizona                      60
Arkansas                     60
California                   60
Colorado                     20
Connecticut                   6
Delaware                    120
District of Columbia        120
Florida                      66
Guam                        120
Hawaii                      110
Idaho                        60
Illinois                     60
Indiana                      30
Iowa                         30
Kansas                       30
Kentucky                    120
Louisiana                    30
Maine                        60
Maryland                    120
Massachusetts                60
Michigan                     52
Mississippi                  30
Missouri                     60
Montana                      60
National (States and DC)     60
Nebraska                     60
Nevada                       90
New Hampshire                52
New Mexico                  120
New York                     42
North Carolina               90
North Dakota                100
Oklahoma                     60
Pennsylvania                 60
Puerto Rico                  60
Rhode Island                120
South Carolina               60
South Dakota                 30
Tennessee                    60
Texas                        30
Utah                         30
Vermont                     120
Virginia                    102
West Virginia               120
Wisconsin                    20
Wyoming                      30
Name: locationdesc, dtype: int64

Tobacco Use - Survey Data    3150
Name: topictype, dtype: int64

E-Cigarette Use (Youth)    3150
Name: topicdesc, dtype: int64

User Status    3150
Name: measuredesc, dtype: int64

Current E-Cigarette User     1074
Ever E-Cigarette User        1002
Frequent E-Cigarette User    1074
Name: submeasure, dtype: int64

YRBSS    3150
Name: datasource, dtype: int64

Current     1074
Ever        1002
Frequent    1074
Name: response, dtype: int64

%    3150
Name: data_value_unit, dtype: int64

Percentage    3150
Name: data_value_type, dtype: int64

0.0     19
0.1      3
0.2      6
0.3     21
0.4     15
        ..
63.0     2
64.6     1
65.9     1
72.0     1
72.7     1
Name: data_value, Length: 518, dtype: int64

*    946
Name: data_value_footnote_symbol, dtype: int64

Data in these cells have been suppressed because of a small sample size    946
Name: data_value_footnote, dtype: int64

0.0      19
0.1      58
0.2      77
0.3     103
0.4      99
       ...
9.6       1
9.7       1
10.5      1
11.1      1
11.9      1
Name: data_value_std_err, Length: 80, dtype: int64

0.0     32
0.1     41
0.2     31
0.3     36
0.4     35
        ..
57.0     1
59.7     1
62.3     1
66.7     1
68.5     1
Name: low_confidence_limit, Length: 471, dtype: int64

0.0     19
0.4      3
0.5      3
0.6      6
0.7      2
        ..
72.8     1
73.9     1
75.6     1
76.5     1
76.7     1
Name: high_confidence_limit, Length: 584, dtype: int64

100.0      6
101.0      6
102.0      9
103.0      5
104.0      1
          ..
27559.0    2
45743.0    2
48337.0    1
52817.0    1
53264.0    2
Name: sample_size, Length: 1093, dtype: int64

Female      323
Male        323
Overall    2504
Name: gender, dtype: int64

All Ages    3150
Name: age, dtype: int64

African American                 313
All Races                        959
American Indian/Alaska Native    313
Asian                            313
Hispanic                         313
Multiple Race                    313
Pacific Islander                 313
White                            313
Name: race, dtype: int64

High School      2340
Middle School     810
Name: education, dtype: int64

(13.444304, 144.793731)              120
(18.220833, -66.590149)               60
(21.304850435, -157.857749403)       110
(28.932040377, -81.928960539)         66
(31.312660644, -92.445680071)         30
(31.827240407, -99.426770206)         30
(32.745510099, -89.538030825)         30
(32.840571122, -86.631860762)         30
(33.998821303, -81.045371207)         60
(34.520880952, -106.240580985)       120
(34.748650124, -92.274490743)         60
(34.86597028, -111.763811277)         60
(35.466220975, -79.159250463)         90
(35.472031356, -97.521070214)         60
(35.68094058, -85.774490914)          60
(37.09024, -95.712891)                60
(37.542680674, -78.457890463)        102
(37.638640123, -120.999999538)        60
(37.645970271, -84.774971048)        120
(38.3477403, -98.200781227)           30
(38.635790776, -92.566300053)         60
(38.665510202, -80.712640135)        120
(38.843840757, -106.133610921)        20
(38.890371385, -77.031961127)        120
(39.008830667, -75.577741168)        120
(39.290580964, -76.609260111)        120
(39.360700171, -111.587130635)        30
(39.49324039, -117.071840564)         90
(39.766910452, -86.149960194)         30
(40.485010283, -88.997710178)         60
(40.793730152, -77.860700294)         60
(41.56266102, -72.649840952)           6
(41.641040988001, -99.365720623)      60
(41.708280193, -71.522470314)        120
(42.27687047, -72.082690675)          60
(42.469400913, -93.816490556)         30
(42.827001032, -75.543970427)         42
(43.235541343, -108.109830353)        30
(43.625381239, -72.517640791)        120
(43.655950113, -71.50036092)          52
(43.682630005, -114.363730042)        60
(44.353130053, -100.373530637)        30
(44.393191174, -89.816370742)         20
(44.661319543001, -84.71439027)       52
(45.254228894001, -68.985031336)      60
(47.066528972, -109.424420645)        60
(47.475319779, -100.118421049)       100
(64.845079957001, -147.722059036)     60
Name: geolocation, dtype: int64

BEH    3150
Name: topictypeid, dtype: int64

152BEH    3150
Name: topicid, dtype: int64

180EVP    3150
Name: measureid, dtype: int64

1GEN    2504
2GEN     323
3GEN     323
Name: stratificationid1, dtype: int64

8AGE    3150
Name: stratificationid2, dtype: int64

1RAC    313
2RAC    313
4RAC    313
5RAC    313
6RAC    959
7RAC    313
8RAC    313
9RAC    313
Name: stratificationid3, dtype: int64

1EDU     810
2EDU    2340
Name: stratificationid4, dtype: int64

YRB06    1074
YRB07    1074
YRB08    1002
Name: submeasureid, dtype: int64

1    1074
2    1074
3    1002
Name: displayorder, dtype: int64

### Option 4

In [142]:
df = pd.read_excel('/Users/mists/Downloads/2020-nyts-dataset-and-codebook-microsoft-excel/nyts2020.xlsx')

In [143]:
df.shape

(14531, 994)

In [151]:
for x in range(0,1000,100):
    print(df.columns[x:x+100])

Index(['QN1', 'QN2', 'QN3', 'QN4A', 'QN4B', 'QN4C', 'QN4D', 'QN4E', 'QN5A',
       'QN5B', 'QN5C', 'QN5D', 'QN5E', 'QN6', 'QN7', 'QN8', 'QN9', 'QN10',
       'QN11', 'QN12A', 'QN12B', 'QN12C', 'QN12D', 'QN12E', 'QN12F', 'QN12G',
       'QN12H', 'QN12I', 'QN13', 'QN14', 'QN15A', 'QN15B', 'QN15C', 'QN15D',
       'QN15E', 'QN15F', 'QN15G', 'QN15H', 'QN15I', 'QN15J', 'QN16A', 'QN16B',
       'QN16C', 'QN16D', 'QN16E', 'QN16F', 'QN16G', 'QN16H', 'QN16I', 'QN16J',
       'QN16K', 'QN16L', 'QN17', 'QN18', 'QN19', 'QN20', 'QN21', 'QN22',
       'QN23', 'QN24', 'QN25', 'QN26', 'QN27', 'QN28A', 'QN28B', 'QN28C',
       'QN28D', 'QN28E', 'QN28F', 'QN28G', 'QN28H', 'QN28I', 'QN28J', 'QN28K',
       'QN28L', 'QN28M', 'QN29', 'QN30', 'QN31', 'QN32', 'QN33', 'QN34',
       'QN35', 'QN36', 'QN37', 'QN38', 'QN39A', 'QN39B', 'QN39C', 'QN39D',
       'QN40', 'QN41', 'QN42', 'QN43', 'QN44', 'QN45', 'QN46', 'QN47', 'QN48',
       'QN49'],
      dtype='object')
Index(['QN50', 'QN51A', 'QN51B', 'QN51C', 'QN51D', 'QN51E', 'QN51F', 'QN52',
       'QN53A', 'QN53B', 'QN53C', 'QN53D', 'QN53E', 'QN53F', 'QN54A', 'QN54B',
       'QN54C', 'QN54D', 'QN54E', 'QN54F', 'QN55', 'QN56', 'QN57', 'QN58',
       'QN59A', 'QN59B', 'QN59C', 'QN59D', 'QN59E', 'QN59F', 'QN59G', 'QN59H',
       'QN59I', 'QN59J', 'QN60AA', 'QN60AB', 'QN60AC', 'QN60AD', 'QN60AE',
       'QN60AF', 'QN60AG', 'QN60AH', 'QN60BA', 'QN60BB', 'QN60BC', 'QN60BD',
       'QN60BE', 'QN60BF', 'QN60BG', 'QN60BH', 'QN60CA', 'QN60CB', 'QN60CC',
       'QN60CD', 'QN60CE', 'QN60CF', 'QN60CG', 'QN60CH', 'QN60DA', 'QN60DB',
       'QN60DC', 'QN60DD', 'QN60DE', 'QN60DF', 'QN60DG', 'QN60DH', 'QN60EA',
       'QN60EB', 'QN60EC', 'QN60ED', 'QN60EE', 'QN60EF', 'QN60EG', 'QN60EH',
       'QN60FA', 'QN60FB', 'QN60FC', 'QN60FD', 'QN60FE', 'QN60FF', 'QN60FG',
       'QN60FH', 'QN60GA', 'QN60GB', 'QN60GC', 'QN60GD', 'QN60GE', 'QN60GF',
       'QN60GG', 'QN60GH', 'QN60HA', 'QN60HB', 'QN60HC', 'QN60HD', 'QN60HE',
       'QN60HF', 'QN60HG', 'QN60HH', 'QN60IA', 'QN60IB'],
      dtype='object')
Index(['QN60IC', 'QN60ID', 'QN60IE', 'QN60IF', 'QN60IG', 'QN60IH', 'QN60JA',
       'QN60JB', 'QN60JC', 'QN60JD', 'QN60JE', 'QN60JF', 'QN60JG', 'QN60JH',
       'QN61', 'QN62', 'QN63', 'QN64', 'QN65', 'QN66', 'QN67', 'QN68',
       'QN69AA', 'QN69AB', 'QN69AC', 'QN69AD', 'QN69AE', 'QN69AF', 'QN69AG',
       'QN69BA', 'QN69BB', 'QN69BC', 'QN69BD', 'QN69BE', 'QN69BF', 'QN69BG',
       'QN69CA', 'QN69CB', 'QN69CC', 'QN69CD', 'QN69CE', 'QN69CF', 'QN69CG',
       'QN69DA', 'QN69DB', 'QN69DC', 'QN69DD', 'QN69DE', 'QN69DF', 'QN69DG',
       'QN69EA', 'QN69EB', 'QN69EC', 'QN69ED', 'QN69EE', 'QN69EF', 'QN69EG',
       'QN69FA', 'QN69FB', 'QN69FC', 'QN69FD', 'QN69FE', 'QN69FF', 'QN69FG',
       'QN69GA', 'QN69GB', 'QN69GC', 'QN69GD', 'QN69GE', 'QN69GF', 'QN69GG',
       'QN69HA', 'QN69HB', 'QN69HC', 'QN69HD', 'QN69HE', 'QN69HF', 'QN69HG',
       'QN69IA', 'QN69IB', 'QN69IC', 'QN69ID', 'QN69IE', 'QN69IF', 'QN69IG',
       'QN69JA', 'QN69JB', 'QN69JC', 'QN69JD', 'QN69JE', 'QN69JF', 'QN69JG',
       'QN69KA', 'QN69KB', 'QN69KC', 'QN69KD', 'QN69KE', 'QN69KF', 'QN69KG',
       'QN70AA'],
      dtype='object')
Index(['QN70AB', 'QN70AC', 'QN70AD', 'QN70AE', 'QN70AF', 'QN70AG', 'QN70AH',
       'QN70AI', 'QN70BA', 'QN70BB', 'QN70BC', 'QN70BD', 'QN70BE', 'QN70BF',
       'QN70BG', 'QN70BH', 'QN70BI', 'QN70CA', 'QN70CB', 'QN70CC', 'QN70CD',
       'QN70CE', 'QN70CF', 'QN70CG', 'QN70CH', 'QN70CI', 'QN70DA', 'QN70DB',
       'QN70DC', 'QN70DD', 'QN70DE', 'QN70DF', 'QN70DG', 'QN70DH', 'QN70DI',
       'QN70EA', 'QN70EB', 'QN70EC', 'QN70ED', 'QN70EE', 'QN70EF', 'QN70EG',
       'QN70EH', 'QN70EI', 'QN70FA', 'QN70FB', 'QN70FC', 'QN70FD', 'QN70FE',
       'QN70FF', 'QN70FG', 'QN70FH', 'QN70FI', 'QN70GA', 'QN70GB', 'QN70GC',
       'QN70GD', 'QN70GE', 'QN70GF', 'QN70GG', 'QN70GH', 'QN70GI', 'QN70HA',
       'QN70HB', 'QN70HC', 'QN70HD', 'QN70HE', 'QN70HF', 'QN70HG', 'QN70HH',
       'QN70HI', 'QN70IA', 'QN70IB', 'QN70IC', 'QN70ID', 'QN70IE', 'QN70IF',
       'QN70IG', 'QN70IH', 'QN70II', 'QN70JA', 'QN70JB', 'QN70JC', 'QN70JD',
       'QN70JE', 'QN70JF', 'QN70JG', 'QN70JH', 'QN70JI', 'QN70KA', 'QN70KB',
       'QN70KC', 'QN70KD', 'QN70KE', 'QN70KF', 'QN70KG', 'QN70KH', 'QN70KI',
       'QN71', 'QN72'],
      dtype='object')
Index(['QN73', 'QN74', 'QN75', 'QN76', 'QN77', 'QN78', 'QN79', 'QN80', 'QN81',
       'QN82', 'QN83', 'QN84', 'QN85', 'QN86', 'QN87', 'QN88', 'QN89', 'QN90',
       'QN91', 'QN92', 'QN93', 'QN94', 'QN95', 'QN96', 'QN97', 'QN98', 'QN99',
       'QN100', 'QN101', 'QN102', 'QN103', 'QN104', 'QN105', 'QN106', 'QN107',
       'QN108', 'QN109', 'QN110', 'QN111', 'QN112', 'QN113A', 'QN113B',
       'QN113C', 'QN113D', 'QN113E', 'QN113F', 'QN114A', 'QN114B', 'QN114C',
       'QN114D', 'QN114E', 'QN114F', 'QN114G', 'QN114H', 'QN114I', 'QN114J',
       'QN114K', 'QN115', 'QN116', 'QN117', 'Q1', 'Q2', 'Q3', 'Q4A', 'Q4B',
       'Q4C', 'Q4D', 'Q4E', 'Q5A', 'Q5B', 'Q5C', 'Q5D', 'Q5E', 'Q6', 'Q7',
       'Q8', 'Q9', 'Q10', 'Q11', 'Q12A', 'Q12B', 'Q12C', 'Q12D', 'Q12E',
       'Q12F', 'Q12G', 'Q12H', 'Q12I', 'Q12_OTHER', 'Q13', 'Q13_OTHER', 'Q14',
       'Q15A', 'Q15B', 'Q15C', 'Q15D', 'Q15E', 'Q15F', 'Q15G', 'Q15H'],
      dtype='object')
Index(['Q15I', 'Q15J', 'Q15_OTHER', 'Q16A', 'Q16B', 'Q16C', 'Q16D', 'Q16E',
       'Q16F', 'Q16G', 'Q16H', 'Q16I', 'Q16J', 'Q16K', 'Q16L', 'Q16_OTHER',
       'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26',
       'Q27', 'Q28A', 'Q28B', 'Q28C', 'Q28D', 'Q28E', 'Q28F', 'Q28G', 'Q28H',
       'Q28I', 'Q28J', 'Q28K', 'Q28L', 'Q28M', 'Q28_OTHER', 'Q29', 'Q29_OTHER',
       'Q30', 'Q31', 'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37', 'Q38', 'Q39A',
       'Q39B', 'Q39C', 'Q39D', 'Q40', 'Q41', 'Q42', 'Q43', 'Q44', 'Q45', 'Q46',
       'Q47', 'Q48', 'Q49', 'Q50', 'Q51A', 'Q51B', 'Q51C', 'Q51D', 'Q51E',
       'Q51F', 'Q52', 'Q53A', 'Q53B', 'Q53C', 'Q53D', 'Q53E', 'Q53F', 'Q54A',
       'Q54B', 'Q54C', 'Q54D', 'Q54E', 'Q54F', 'Q55', 'Q56', 'Q57', 'Q58',
       'Q59A', 'Q59B', 'Q59C', 'Q59D', 'Q59E', 'Q59F', 'Q59G', 'Q59H', 'Q59I',
       'Q59J'],
      dtype='object')
Index(['Q60AA', 'Q60AB', 'Q60AC', 'Q60AD', 'Q60AE', 'Q60AF', 'Q60AG', 'Q60AH',
       'Q60A_OTHER', 'Q60BA', 'Q60BB', 'Q60BC', 'Q60BD', 'Q60BE', 'Q60BF',
       'Q60BG', 'Q60BH', 'Q60B_OTHER', 'Q60CA', 'Q60CB', 'Q60CC', 'Q60CD',
       'Q60CE', 'Q60CF', 'Q60CG', 'Q60CH', 'Q60C_OTHER', 'Q60DA', 'Q60DB',
       'Q60DC', 'Q60DD', 'Q60DE', 'Q60DF', 'Q60DG', 'Q60DH', 'Q60D_OTHER',
       'Q60EA', 'Q60EB', 'Q60EC', 'Q60ED', 'Q60EE', 'Q60EF', 'Q60EG', 'Q60EH',
       'Q60E_OTHER', 'Q60FA', 'Q60FB', 'Q60FC', 'Q60FD', 'Q60FE', 'Q60FF',
       'Q60FG', 'Q60FH', 'Q60F_OTHER', 'Q60GA', 'Q60GB', 'Q60GC', 'Q60GD',
       'Q60GE', 'Q60GF', 'Q60GG', 'Q60GH', 'Q60G_OTHER', 'Q60HA', 'Q60HB',
       'Q60HC', 'Q60HD', 'Q60HE', 'Q60HF', 'Q60HG', 'Q60HH', 'Q60H_OTHER',
       'Q60IA', 'Q60IB', 'Q60IC', 'Q60ID', 'Q60IE', 'Q60IF', 'Q60IG', 'Q60IH',
       'Q60I_OTHER', 'Q60JA', 'Q60JB', 'Q60JC', 'Q60JD', 'Q60JE', 'Q60JF',
       'Q60JG', 'Q60JH', 'Q60J_OTHER', 'Q61', 'Q62', 'Q63', 'Q64', 'Q65',
       'Q66', 'Q67', 'Q68', 'Q69AA', 'Q69AB'],
      dtype='object')
Index(['Q69AC', 'Q69AD', 'Q69AE', 'Q69AF', 'Q69AG', 'Q69A_OTHER', 'Q69BA',
       'Q69BB', 'Q69BC', 'Q69BD', 'Q69BE', 'Q69BF', 'Q69BG', 'Q69B_OTHER',
       'Q69CA', 'Q69CB', 'Q69CC', 'Q69CD', 'Q69CE', 'Q69CF', 'Q69CG',
       'Q69C_OTHER', 'Q69DA', 'Q69DB', 'Q69DC', 'Q69DD', 'Q69DE', 'Q69DF',
       'Q69DG', 'Q69D_OTHER', 'Q69EA', 'Q69EB', 'Q69EC', 'Q69ED', 'Q69EE',
       'Q69EF', 'Q69EG', 'Q69E_OTHER', 'Q69FA', 'Q69FB', 'Q69FC', 'Q69FD',
       'Q69FE', 'Q69FF', 'Q69FG', 'Q69F_OTHER', 'Q69GA', 'Q69GB', 'Q69GC',
       'Q69GD', 'Q69GE', 'Q69GF', 'Q69GG', 'Q69G_OTHER', 'Q69HA', 'Q69HB',
       'Q69HC', 'Q69HD', 'Q69HE', 'Q69HF', 'Q69HG', 'Q69H_OTHER', 'Q69IA',
       'Q69IB', 'Q69IC', 'Q69ID', 'Q69IE', 'Q69IF', 'Q69IG', 'Q69I_OTHER',
       'Q69JA', 'Q69JB', 'Q69JC', 'Q69JD', 'Q69JE', 'Q69JF', 'Q69JG',
       'Q69J_OTHER', 'Q69KA', 'Q69KB', 'Q69KC', 'Q69KD', 'Q69KE', 'Q69KF',
       'Q69KG', 'Q69K_OTHER', 'Q70AA', 'Q70AB', 'Q70AC', 'Q70AD', 'Q70AE',
       'Q70AF', 'Q70AG', 'Q70AH', 'Q70AI', 'Q70A_OTHER', 'Q70BA', 'Q70BB',
       'Q70BC', 'Q70BD'],
      dtype='object')
Index(['Q70BE', 'Q70BF', 'Q70BG', 'Q70BH', 'Q70BI', 'Q70B_OTHER', 'Q70CA',
       'Q70CB', 'Q70CC', 'Q70CD', 'Q70CE', 'Q70CF', 'Q70CG', 'Q70CH', 'Q70CI',
       'Q70C_OTHER', 'Q70DA', 'Q70DB', 'Q70DC', 'Q70DD', 'Q70DE', 'Q70DF',
       'Q70DG', 'Q70DH', 'Q70DI', 'Q70d_OTHER', 'Q70EA', 'Q70EB', 'Q70EC',
       'Q70ED', 'Q70EE', 'Q70EF', 'Q70EG', 'Q70EH', 'Q70EI', 'Q70E_OTHER',
       'Q70FA', 'Q70FB', 'Q70FC', 'Q70FD', 'Q70FE', 'Q70FF', 'Q70FG', 'Q70FH',
       'Q70FI', 'Q70F_OTHER', 'Q70GA', 'Q70GB', 'Q70GC', 'Q70GD', 'Q70GE',
       'Q70GF', 'Q70GG', 'Q70GH', 'Q70GI', 'Q70G_OTHER', 'Q70HA', 'Q70HB',
       'Q70HC', 'Q70HD', 'Q70HE', 'Q70HF', 'Q70HG', 'Q70HH', 'Q70HI',
       'Q70H_OTHER', 'Q70IA', 'Q70IB', 'Q70IC', 'Q70ID', 'Q70IE', 'Q70IF',
       'Q70IG', 'Q70IH', 'Q70II', 'Q70I_OTHER', 'Q70JA', 'Q70JB', 'Q70JC',
       'Q70JD', 'Q70JE', 'Q70JF', 'Q70JG', 'Q70JH', 'Q70JI', 'Q70J_OTHER',
       'Q70KA', 'Q70KB', 'Q70KC', 'Q70KD', 'Q70KE', 'Q70KF', 'Q70KG', 'Q70KH',
       'Q70KI', 'Q70K_OTHER', 'Q71', 'Q72', 'Q73', 'Q74'],
      dtype='object')
Index(['Q75', 'Q76', 'Q77', 'Q78', 'Q79', 'Q80', 'Q81', 'Q82', 'Q83', 'Q84',
       'Q85', 'Q86', 'Q87', 'Q88', 'Q89', 'Q90', 'Q91', 'Q92', 'Q93', 'Q94',
       'Q95', 'Q96', 'Q97', 'Q98', 'Q99', 'Q100', 'Q101', 'Q102', 'Q103',
       'Q104', 'Q105', 'Q106', 'Q107', 'Q108', 'Q109', 'Q110', 'Q111', 'Q112',
       'Q113A', 'Q113B', 'Q113C', 'Q113D', 'Q113E', 'Q113F', 'Q113_OTHER',
       'Q114A', 'Q114B', 'Q114C', 'Q114D', 'Q114E', 'Q114F', 'Q114G', 'Q114H',
       'Q114I', 'Q114J', 'Q114K', 'Q115', 'Q116', 'Q117', 'AGEGRP', 'SEX',
       'SCHOOLTYPE', 'mrace', 'RACE_M', 'RACE_S', 'SEXID', 'SEXID2', 'ECIGT',
       'ECIGAR', 'ESLT', 'EELCIGT', 'EHOOKAH', 'EROLLCIGTS', 'EPIPE', 'ESNUS',
       'EDISSOLV', 'EBIDIS', 'CCIGT', 'CCIGAR', 'CSLT', 'CELCIGT', 'CHOOKAH',
       'CROLLCIGTS', 'CPIPE', 'CSNUS', 'CDISSOLV', 'CBIDIS', 'psu', 'stratum',
       'hsms', 'finwgt', 'v_stratum', 'v_stratum2', 'psu2'],
      dtype='object')

I'm guessing all the Qs stand for question. Where is the data dictionary?